# **R-Squared Disentangled**

### Import Libraries

In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

### Import Data

In [5]:
dummy = pd.read_excel('C:/Users/limam/Documents/GitHub/Datathon_2023/Dados/crypto_fear_greed_data.xlsx')
dummy

           date  daily_index     sentiment  weekly_mean  montly_mean
0    2023-10-23           53       Neutral          NaN          NaN
1    2023-10-22           53       Neutral    52.857143          NaN
2    2023-10-21           63         Greed          NaN          NaN
3    2023-10-20           53       Neutral          NaN          NaN
4    2023-10-19           52       Neutral          NaN          NaN
...         ...          ...           ...          ...          ...
2083 2018-02-05           11  Extreme Fear          NaN          NaN
2084 2018-02-04           24  Extreme Fear    27.250000          NaN
2085 2018-02-03           40          Fear          NaN          NaN
2086 2018-02-02           15  Extreme Fear          NaN          NaN
2087 2018-02-01           30          Fear          NaN          NaN

[2088 rows x 5 columns]

## *R-Squared*

In [6]:
fg = dummy.drop(['sentiment', 'weekly_mean', 'montly_mean'], axis=1).set_index('date').sort_values(by='date', ascending=True)
fg['weekly_mean'] = fg['daily_index'].rolling(7).mean()
fg['sentiment'] = 0

fg.loc[(fg['weekly_mean'] <= 24), 'sentiment'] = 'Extreme Fear'
fg.loc[(fg['weekly_mean'] >24) & (fg['weekly_mean'] <= 44), 'sentiment'] = 'Fear'
fg.loc[(fg['weekly_mean'] > 44) & (fg['weekly_mean'] <= 55), 'sentiment'] = 'Neutral'
fg.loc[(fg['weekly_mean'] > 55) & (fg['weekly_mean'] <= 75), 'sentiment'] = 'Greed'
fg.loc[(fg['weekly_mean'] > 75), 'sentiment'] = 'Extreme Greed'

# fg.loc[(fg['weekly_mean'] <= 44), 'sentiment'] = 'Fear'
# fg.loc[(fg['weekly_mean'] > 44) & (fg['weekly_mean'] <= 55), 'sentiment'] = 'Neutral'
# fg.loc[fg['weekly_mean'] > 55, 'sentiment'] = 'Greed'

# fg.loc[(fg['weekly_mean'] <= 50), 'sentiment'] = 'Fear'
# fg.loc[(fg['weekly_mean'] > 50), 'sentiment'] = 'Greed'

# fg.loc[(fg['weekly_mean'] > 24) & (fg['weekly_mean'] <= 75), 'sentiment'] = 'Neutral'
# fg.loc[(fg['weekly_mean'] <= 24) | (fg['weekly_mean'] > 75), 'sentiment'] = 'Extreme'

fg = fg[:"2023-06-30"]
fg

            daily_index  weekly_mean sentiment
date
2018-02-01           30          NaN         0
2018-02-02           15          NaN         0
2018-02-03           40          NaN         0
2018-02-04           24          NaN         0
2018-02-05           11          NaN         0
...                 ...          ...       ...
2023-06-26           55    59.857143     Greed
2023-06-27           59    61.285714     Greed
2023-06-28           62    61.714286     Greed
2023-06-29           54    60.142857     Greed
2023-06-30           56    58.857143     Greed

[1973 rows x 3 columns]

In [7]:
tech = pd.read_excel('C:/Users/limam/Documents/GitHub/Datathon_2023/Dados/tech_signals_w.xlsx')
tech['Date'] = pd.to_datetime(tech['Date'])
tech

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/limam/Documents/GitHub/Datathon_2023/Dados/tech_signals_w.xlsx'

In [ ]:
df = tech.merge(fg, how='left', left_on='Date', right_on='date')
df.dropna(inplace=True)
df.drop('daily_index', axis=1, inplace=True)
df

,Date,Adj Close,Volume,MA_1_9,MA_1_12,MA_2_9,MA_2_12,MA_3_9,MA_3_12,MOM_9,MOM_12,VOL_1_9,VOL_1_12,VOL_2_9,VOL_2_12,VOL_3_9,VOL_3_12,weekly_mean,sentiment
154,2018-02-12,10551.799805,53626569728,0,0,0,0,0,0,0,0,0,0,0,0,0,0,35.000000,Fear
155,2018-02-19,9664.730469,55388419584,0,0,0,0,0,0,0,0,0,0,0,0,0,0,61.714286,Greed
156,2018-02-26,11512.599609,48902649856,1,0,0,0,0,0,0,0,0,0,0,0,0,0,44.571429,Neutral
157,2018-03-05,9578.629883,49671590400,0,0,1,0,0,0,0,0,0,0,0,0,0,0,46.428571,Neutral
158,2018-03-12,8223.679688,42075919360,0,0,0,0,0,0,0,0,0,0,0,0,0,0,41.714286,Fear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,2023-05-29,27119.066406,91351657572,0,0,0,0,0,0,0,0,0,0,0,0,0,0,50.000000,Neutral
431,2023-06-05,25940.167969,116498927148,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51.714286,Neutral
432,2023-06-12,26336.212891,92905085602,0,0,0,0,0,0,0,0,0,0,0,0,0,0,48.571429,Neutral
433,2023-06-19,30480.261719,138005623534,1,1,1,1,0,0,1,1,1,1,0,0,0,0,46.000000,Neutral
434,2023-06-26,30620.769531,106681707513,1,1,1,1,1,1,1,1,1,1,1,1,1,0,59.857143,Greed

In [ ]:
rf = pd.read_excel('C:/Users/limam/Documents/GitHub/Datathon_2023/Dados/risk_free_all_d.xlsx')
rf['r_free_rate'] = rf['r_free_rate'].ffill()
rf['r_free_w'] = rf['r_free_rate'].rolling(7).mean()
rf = rf[['observation_date', 'r_free_w']]
rf['observation_date'] = pd.to_datetime(rf['observation_date'])
rf.dropna(inplace=True)
rf


#rf = pd.read_excel('C:/Users/limam/Documents/GitHub/Datathon_2023/Dados/risk_free_d.xlsx')
#rf['r_free_day'] = rf['r_free_day'].ffill()
#rf['r_free_w'] = rf['r_free_day'].rolling(7).mean()
#rf = rf[['observation_date', 'r_free_w']]
#rf['observation_date'] = pd.to_datetime(rf['observation_date'])
#rf.head(10)

     observation_date  r_free_w
6          2018-01-10  0.000051
7          2018-01-11  0.000051
8          2018-01-12  0.000051
9          2018-01-15  0.000051
10         2018-01-16  0.000052
...               ...       ...
1531       2023-11-15  0.000213
1532       2023-11-16  0.000213
1533       2023-11-17  0.000213
1534       2023-11-20  0.000213
1535       2023-11-21  0.000213

[1530 rows x 2 columns]

In [ ]:
dummies = pd.get_dummies(df['sentiment'])
df = pd.concat([df.drop('sentiment', axis=1), dummies], axis=1)
df['Returns'] = df['Adj Close'].pct_change()
df = df.merge(rf, how='left', left_on='Date', right_on='observation_date').dropna()
df.drop('observation_date', axis=1, inplace=True)
df['risk_premium'] = df['Returns'] - df['r_free_w']
df.head(15)

,Date,Adj Close,Volume,MA_1_9,MA_1_12,MA_2_9,MA_2_12,MA_3_9,MA_3_12,MOM_9,...,VOL_3_12,weekly_mean,Extreme Fear,Extreme Greed,Fear,Greed,Neutral,Returns,r_free_w,risk_premium
1,2018-02-19,9664.730469,55388419584,0,0,0,0,0,0,0,...,0,61.714286,False,False,False,True,False,-0.084068,0.000052,-0.084121
2,2018-02-26,11512.599609,48902649856,1,0,0,0,0,0,0,...,0,44.571429,False,False,False,False,True,0.191197,0.000054,0.191143
3,2018-03-05,9578.629883,49671590400,0,0,1,0,0,0,0,...,0,46.428571,False,False,False,False,True,-0.167987,0.000058,-0.168045
4,2018-03-12,8223.679688,42075919360,0,0,0,0,0,0,0,...,0,41.714286,False,False,True,False,False,-0.141456,0.000061,-0.141517
5,2018-03-19,8495.780273,40853020160,0,0,0,0,0,0,0,...,0,33.571429,False,False,True,False,False,0.033087,0.000065,0.033022
6,2018-03-26,6844.229980,37970689536,0,0,0,0,0,0,0,...,0,32.857143,False,False,True,False,False,-0.194397,0.000067,-0.194464
7,2018-04-02,7023.520020,31804380416,0,0,0,0,0,0,0,...,0,17.285714,True,False,False,False,False,0.026196,0.000066,0.026130
8,2018-04-09,8329.110352,40915320320,0,0,0,0,0,0,0,...,0,19.714286,True,False,False,False,False,0.185888,0.000066,0.185823
9,2018-04-23,9419.080078,61882420224,1,1,1,1,1,0,0,...,1,27.428571,False,False,True,False,False,0.130863,0.000065,0.130797
10,2018-04-30,9654.799805,57244449280,1,1,1,1,1,1,1,...,1,52.714286,False,False,False,False,True,0.025026,0.000065,0.024961
11,2018-05-07,8723.940430,50119759872,1,0,1,1,1,1,1,...,1,57.857143,False,False,False,True,False,-0.096414,0.000066,-0.096480
12,2018-05-14,8513.250000,42360260096,1,0,1,0,1,1,1,...,1,49.000000,False,False,False,False,True,-0.024151,0.000066,-0.024217
13,2018-05-21,7368.220215,35808230144,0,0,0,0,0,0,1,...,1,34.857143,False,False,True,False,False,-0.134500,0.000067,-0.134566
14,2018-05-28,7720.250000,35465450496,0,0,0,0,0,0,1,...,1,24.571429,False,False,True,False,False,0.047777,0.000068,0.047709
15,2018-06-04,6786.020020,33010609408,0,0,0,0,0,0,0,...,1,30.142857,False,False,True,False,False,-0.121010,0.000069,-0.121079

257

In [ ]:
r2 = {}

for i in range(3, 17):
    y = df['risk_premium'][1:df.shape[0]].values
    x = df.iloc[0:df.shape[0]-1, i].values
    x = sm.add_constant(x)  
    model = sm.OLS(y, x).fit()
    e = model.resid
    Ic = []
    for j in range(18, 23):
        r_squared = 1 - (np.sum(df.iloc[1:df.shape[0], j] * e**2) / np.sum(df.iloc[1:df.shape[0], j] * ((y - np.mean(y))**2)))
        Ic.append(r_squared)
        #print(f"Coluna {j} : {df.columns[j]}")
    r2[df.columns[i]] = Ic

In [ ]:
r2_df = pd.DataFrame(r2)
r2_df = r2_df.T 
r2_df.columns = ['Extreme Fear', 'Extreme Greed', 'Fear', 'Greed', 'Neutral']
r2_df

          Extreme Fear  Extreme Greed      Fear     Greed   Neutral
MA_1_9       -0.014292       0.030221  0.020460  0.009595 -0.013166
MA_1_12      -0.056686       0.032058  0.032107  0.009222  0.009674
MA_2_9       -0.017542       0.020909  0.004763  0.007598  0.005280
MA_2_12      -0.033017       0.024851  0.016042  0.007718  0.002721
MA_3_9       -0.015643       0.027907  0.001168  0.029450  0.012535
MA_3_12      -0.023418       0.020168  0.000941  0.022433  0.007862
MOM_9        -0.068007       0.047543  0.030274  0.035840  0.004282
MOM_12       -0.043133       0.026519  0.016295  0.019708  0.010049
VOL_1_9      -0.015822       0.043299  0.010418  0.000323  0.018407
VOL_1_12     -0.012325       0.020544  0.005469  0.004289  0.007059
VOL_2_9      -0.007757       0.012140  0.001202  0.003801 -0.000519
VOL_2_12     -0.003244       0.005958 -0.001053  0.002124  0.000754
VOL_3_9      -0.001733       0.007429 -0.000144  0.010951 -0.010546
VOL_3_12     -0.000858       0.011446  0.001440  0.014233 -0.014735