In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Lendo o arquivo CSV
df = pd.read_excel('C:/Users/limam/Documents/GitHub/Datathon_2023/Dados/BTC_News_150.xlsx')
Data = pd.DataFrame(df)

In [2]:
Data

,Headline,Stock,Data,Positive,Negative,Neutral,Sentiment Score
0,Як святкують Новий Рік в різних країнах? | ВІК...,Вікна,2015-01-01,0.089793,0.017425,0.892783,0.072368
1,EUR/USD - Euro Ends Dismal 2014 at 1.21 ...: T...,MarketPulse,2015-01-01,0.015019,0.965383,0.019599,-0.950364
2,Tesla founder Elon Musk divorces his British w...,City A.M.,2015-01-02,0.214463,0.015351,0.770186,0.199112
3,thebahamasweekly.com - It Was The Valley Boys ...,The Bahamas Weekly,2015-01-02,0.278067,0.014900,0.707033,0.263167
4,The Coach House -: Original BTC were involved ...,Premier Construction News,2015-01-02,0.143929,0.008509,0.847562,0.135420
...,...,...,...,...,...,...,...
30585,"SEC Pushes Back Against Fidelity, BlackRock Sp...",Bloomberg.com,2023-06-30,0.736904,0.046509,0.216587,0.690395
30586,"Bankrupt Celsius Can Convert Altcoins to BTC, ...",CoinDesk,2023-06-30,0.191664,0.006913,0.801423,0.184752
30587,Crypto ATM firm Bitcoin Depot will go public o...,Cointelegraph,2023-06-30,0.189224,0.008385,0.802391,0.180839
30588,Here’s What Caused Bitcoin’s Flash Crash To $2...,NewsBTC,2023-06-30,0.027825,0.039884,0.932290,-0.012059
30589,Bitcoin News: Whales Scoops 910k BTC; Good Cha...,CoinGape,2023-06-30,0.951933,0.020675,0.027393,0.931258

In [3]:
Data['Data'] = pd.to_datetime(Data['Data'])
Data.set_index('Data', inplace=True)

In [4]:
Data = Data.drop(['Stock', 'Headline'], axis=1)

In [5]:
# Grouping the BTC news data by date and calculating the mean for sentiment scores
btc_news_grouped = Data.groupby('Data').mean()
# Displaying the resulting DataFrame
btc_news_grouped

            Positive  Negative   Neutral  Sentiment Score
Data
2015-01-01  0.052406  0.491404  0.456191        -0.438998
2015-01-02  0.137418  0.033504  0.829078         0.103915
2015-01-03  0.048631  0.019881  0.931488         0.028749
2015-01-04  0.092743  0.024169  0.883088         0.068574
2015-01-05  0.070638  0.118731  0.810631        -0.048093
...              ...       ...       ...              ...
2023-06-26  0.223848  0.028579  0.747573         0.195269
2023-06-27  0.342243  0.203208  0.454549         0.139035
2023-06-28  0.305507  0.209534  0.484959         0.095973
2023-06-29  0.220109  0.027813  0.752078         0.192296
2023-06-30  0.307102  0.176065  0.516833         0.131037

[3095 rows x 4 columns]

In [6]:
#btc_news_grouped['weekly_mean_y'] = btc_news_grouped['Sentiment Score'].rolling(7).mean()
# Adicionando a média semanal ao dataframe original

In [6]:
df_sentic = pd.read_excel('C:/Users/limam/Documents/GitHub/Datathon_2023/Dados/crypto_fear_greed_data.xlsx')

In [7]:
df_sentic['Data'] = pd.to_datetime(df_sentic['date'])
df_sentic.set_index('Data', inplace=True)
df_sentic

                 date  daily_index     sentiment  weekly_mean  montly_mean
Data
2023-10-23 2023-10-23           53       Neutral          NaN          NaN
2023-10-22 2023-10-22           53       Neutral    52.857143          NaN
2023-10-21 2023-10-21           63         Greed          NaN          NaN
2023-10-20 2023-10-20           53       Neutral          NaN          NaN
2023-10-19 2023-10-19           52       Neutral          NaN          NaN
...               ...          ...           ...          ...          ...
2018-02-05 2018-02-05           11  Extreme Fear          NaN          NaN
2018-02-04 2018-02-04           24  Extreme Fear    27.250000          NaN
2018-02-03 2018-02-03           40          Fear          NaN          NaN
2018-02-02 2018-02-02           15  Extreme Fear          NaN          NaN
2018-02-01 2018-02-01           30          Fear          NaN          NaN

[2088 rows x 5 columns]

In [28]:
#df = df_sentic['weekly_mean'].dropna()

In [9]:
result = pd.merge(df_sentic, btc_news_grouped, on="Data")

In [10]:
result
#result.to_excel('results_news.xlsx')

,date,daily_index,sentiment,weekly_mean,montly_mean,Positive,Negative,Neutral,Sentiment Score
Data,,,,,,,,,
2023-06-30,2023-06-30,56,Greed,NaN,52.4,0.307102,0.176065,0.516833,0.131037
2023-06-29,2023-06-29,54,Neutral,NaN,NaN,0.220109,0.027813,0.752078,0.192296
2023-06-28,2023-06-28,62,Greed,NaN,NaN,0.305507,0.209534,0.484959,0.095973
2023-06-27,2023-06-27,59,Greed,NaN,NaN,0.342243,0.203208,0.454549,0.139035
2023-06-26,2023-06-26,55,Greed,NaN,NaN,0.223848,0.028579,0.747573,0.195269
...,...,...,...,...,...,...,...,...,...
2018-02-05,2018-02-05,11,Extreme Fear,NaN,NaN,0.239963,0.149305,0.610733,0.090658
2018-02-04,2018-02-04,24,Extreme Fear,27.25,NaN,0.217624,0.200233,0.582142,0.017391
2018-02-03,2018-02-03,40,Fear,NaN,NaN,0.371638,0.021411,0.606951,0.350227
2018-02-02,2018-02-02,15,Extreme Fear,NaN,NaN,0.211981,0.119646,0.668373,0.092335
2018-02-01,2018-02-01,30,Fear,NaN,NaN,0.185314,0.174029,0.640658,0.011285

In [ ]:
tech = pd.read_excel('C:/Users/limam/Documents/GitHub/Datathon_2023/Dados/tech_signals_w.xlsx')
tech['Data'] = pd.to_datetime(tech['Date'])
tech

In [ ]:
result

In [11]:

df_filtered = result[['daily_index', 'Sentiment Score']]

In [12]:
df_filtered

            daily_index  Sentiment Score
Data
2023-06-30           56         0.131037
2023-06-29           54         0.192296
2023-06-28           62         0.095973
2023-06-27           59         0.139035
2023-06-26           55         0.195269
...                 ...              ...
2018-02-05           11         0.090658
2018-02-04           24         0.017391
2018-02-03           40         0.350227
2018-02-02           15         0.092335
2018-02-01           30         0.011285

[1965 rows x 2 columns]

In [13]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler

# Selecionando as colunas necessárias e removendo valores nulos
df_filtered = result[['daily_index', 'Sentiment Score']]

# Aplicando PCA com apenas uma dimensão
pca_1d = PCA(n_components=1)
pca_1d_result = pca_1d.fit_transform(df_filtered)

# Normalizando os resultados para a escala de 1 a 100
scaler = MinMaxScaler(feature_range=(1, 100))
normalized_pca_1d = scaler.fit_transform(pca_1d_result)

# Convertendo o resultado em um dataframe
df_filtered['PCA_Normalized'] = normalized_pca_1d

C:\Users\limam\AppData\Local\Temp\ipykernel_17872\3903574814.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['PCA_Normalized'] = normalized_pca_1d

In [14]:
df_filtered

            daily_index  Sentiment Score  PCA_Normalized
Data
2023-06-30           56         0.131037       57.099674
2023-06-29           54         0.192296       54.899763
2023-06-28           62         0.095973       63.699619
2023-06-27           59         0.139035       60.399683
2023-06-26           55         0.195269       55.999767
...                 ...              ...             ...
2018-02-05           11         0.090658        7.599657
2018-02-04           24         0.017391       21.899541
2018-02-03           40         0.350227       39.500001
2018-02-02           15         0.092335       11.999656
2018-02-01           30         0.011285       28.499527

[1965 rows x 3 columns]

In [15]:
df_filtered.to_excel('result_PCA_indicador_dia.xlsx')